body {
    background-color: #370617;
    height: 700px;
    margin: 0px;
    width: 1152px;
}

main {
    align-content: center;
    background-color: #370617;
    display: flex;
    height: 700px;
    justify-content: center;
    width: 1152px;
}

.squares-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.container {
    background-color: #F48C06;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 160px;
    margin: 20px;
    padding: 10px;
    width: 468px;
}

.container-one {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
}

.container-two {
    align-items: stretch;
    display: flex;
    justify-content: center;
}

.container-three {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.container-four {
    display: flex;
    justify-content: space-around;
}

.three {
    align-self: flex-end;
}

.container-five {
    align-items: baseline; 
    display: flex;
    justify-content: space-evenly;
    
}

/*I seriously have no idea how to make the text in the boxes the baseline for the boxes*/

.container-six {
    align-items: center;
    display: flex;
    
    justify-content: center;
}

.box {
    background-color: #9D0208;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: 78px;
    margin: 10px;
    width: 78px;
    
}

.box-stretched {
    background-color: #9D0208;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    min-height: 120px;
    margin: 10px;
    padding-top: 12px;
    width: 78px;
    
}

.box-txt {
    padding-top: 12px;

}

p {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.16px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
    text-align: center;
    
}

.box-wide-stretched {
    background-color: #9D0208;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    height: 78px;
    margin: 10px;
    min-width: 78px;
    flex-grow: 1;
}

